certifi==2026.1.4
charset-normalizer==3.4.4
filelock==3.20.3
fsspec==2024.6.1
idna==3.11
jinja2==3.1.6
llvmlite==0.46.0
markupsafe==3.0.3
more-itertools==10.8.0
networkx==3.4.2
numba==0.63.1
numpy==2.0.0
openai-whisper==20250625
pyyaml==6.0.3
regex==2026.4.4
requests==2.32.5
scipy==1.15.3
setuptools<81
sympy>=1.13.3
tiktoken==0.12.0
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tqdm==4.67.1
triton>=3.4.0
typing-extensions==4.15.0
urllib3==2.6.3
matplotlib==3.11.1
jiwer==3.1.0
zhon==2.1.1
fire==0.7.1
hf_transfer==0.1.9
addict==2.4.0
datasets==5.0.1
simplejson==4.1.2
sortedcontainers==2.4.0
pysptk==1.0.1
streamlit==1.63.0
seaborn==0.13.2